.window{
    height: 500px;
    width: 700px;
    border-radius: 0.75rem;
    background: #110f0f;
    overflow: hidden;
    color: rgb(183, 179, 179);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    



    .nav {
        padding-inline: 0.75rem;
        padding-block: 0.5rem;
         background:linear-gradient(to bottom, rgb(62, 62, 62), rgb(24, 23, 23));

        .dots{
            display: flex;
            gap: 0.24rem;

            .dot{
        height: 14px;
        width: 15px;
         background: white;
         border-radius: 50%;
        }
        .red{
            background: rgb(255, 55, 55);
        }
        .yellow{
            background: rgb(255, 255, 58);
        }
        .green{
            background: rgb(45, 255, 45);
        }
        
    }
}
}


