.dock{
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
    gap: 0.6rem;
    

    background: linear-gradient(to bottom,  rgba(91, 89, 89, 0.219),  rgba(29, 28, 28, 0.362));
    padding-inline: 1rem;
    padding-block: 0.50rem;
    border-radius: 0.75rem;

    backdrop-filter: blur(10px);

    .icon{
        padding: 0.25rem;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;

        transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
      
    }

    .icon:hover{
        transform: scale(1.25) translateY(-20%);
    }

    .icon:hover + .icon,
    .icon:has(+ .icon:hover) {
        transform: scale(1.1) translateY(-10%);
    }



    .github{
        background: #000;
    }

    .note{
        background:linear-gradient(to bottom, rgb(216, 98, 13), rgb(88, 46, 7));
    }
    .pdf{
        background:linear-gradient(to bottom, rgb(226, 69, 69), rgb(198, 6, 6))
    }
    .calender{
        background: linear-gradient(to bottom, rgb(50, 106, 238), rgb(6, 43, 129));
    }
    .spotify{
        background: linear-gradient(to bottom, #27c55e, #0d7a33);
    }
    .mail{
        background: linear-gradient(to bottom, rgb(227, 168, 66), rgb(194, 123, 0));
    }
    .cli{
        background: #000;
    }
    .link{
        background: linear-gradient(to bottom,  rgb(228, 67, 228),  rgb(141, 8, 141));
    }
}