nav{
    width: 100%;
    color: white;

    padding-inline: 0.75rem;
    padding-top: 0.5rem;
    background: #9e9e9e4e;
    backdrop-filter: blur(5px);

    .apple-icon{
        padding-top: 0.2rem;
    }

    p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .left{
        display:  flex;
        gap: 1rem;
    }
}