nav{
    width: 100%;
    color: white;

    padding-inline: 0.75rem;
    padding-top: 0.5rem;
    background: #82828219;
    backdrop-filter: blur(5px);
    border-radius: 3px;

    display: flex;
    justify-content: space-between;

    .apple-icon{
        padding-top: 0.1rem;
    }

   
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

    .left,
    .right{
        display:  flex;
        gap: 1rem;
    }
}